.developer_profile_main_section {
  display: flex;
  flex-direction: column;
  margin: 1% 15% 0% 15%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 16px;
}
.developer_education_box {
  width: 32%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
}
.experience_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.project_images img {
  border-radius: 5px;
  margin: 0 5px;
  height: 150px;
  width: 200px;
}
