.joining_section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  /* border: 1px solid #e5e5e5; */
  position: relative;
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  /* padding: 20px; */
}
.radio_group {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.client_developer_selection_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 25%;
  height: 150px;
  position: relative;
}
.client_developer_radio_label {
  margin: 0 !important;
}
.client_developer_radio_button {
  position: absolute !important;
  top: 0;
  right: 0px;
  padding: 0 !important;
}
.joining_heading {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-family: 'Preahvihear';
  letter-spacing: 0.1rem;
}
.joining_submit_button {
  background-color: #7ac144 !important;
  text-transform: capitalize !important;
  width: 10%;
  font-size: 15px !important;
  margin-top: 30px !important;
}
.already_account_login {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2rem; /* Adjust margin as needed */
}
.joining_page_left_section {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 20px;
}
