.company_detail_section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}
.company_detail_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.company_detail_input_fields {
  width: 100%;
}
