.client_profile_main_section {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  margin: 1% 15% 0% 15%;
  border-radius: 5px;
}
.profile_section_heading {
  font-weight: 600 !important;
}
.edit_profile_text_field {
  width: 45%;
  margin-top: 15px !important;
}
.PhoneInput {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.edit_profile_text_box{
  width: 46.5%;
}
.edit_profile_contacts_text_box{
  width: 38.9%;
  margin-bottom: 3px !important;
}
.edit_profile_contacts_address_box{
  width: 81%;
}
